@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

:root {
  /* --brandBlue: #1b71b8; */
  --brandBlue: #453bff;
  --brandGrey: #232528;
  /* --brandPink: #f2daee; */
  --brandPink: #f7eaec;
  /* #f4eef3 */
  --brandAqua: #a2dcf3;
  --brandRed: #ed4748;
  --brandLightGray: #c0c0c0;
  --brandLightWhite: #ffffff;
}

html {
  font-size: 90%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100vh;
  margin: 0;
  color: var(--brandBlue);
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 4rem;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: var(--brandBlue);
  color: var(--brandPink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-links a,
a:link,
a:visited {
  color: var(--brandPink);
}
.header-links a:hover {
  color: var(--brandAqua);
}
.main {
  grid-area: main;
  background-color: var(--brandPink);
}
.content {
  margin: 30px;
}

.footer {
  grid-area: footer;
  background-color: var(--brandBlue);
  color: var(--brandPink);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 40rem;
  border-bottom: 0.1rem yellow solid;
  background-color: var(--brandLightWhite);
  border-radius: 1.5rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product a {
  color: var(--brandBlue);
}
.product a:hover {
  color: var(--brandAqua);
}
.product-image {
  max-width: 34rem;
  max-height: 30rem;
  border-radius: 1rem;
}
.product-name {
  font-size: 2rem;
  color: var(--brandBlue);
}
.product-price {
  font-size: 2rem;
}
.product-description {
  font-size: 1.2rem;
}
.product-rating {
  margin-bottom: 1rem;
}
/* Sidebar */
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: var(--brandPink);
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  transition: all 0.5s;
  width: 30rem;
  background-color: var(--brandBlue);
  height: 100%;
  z-index: 1;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar button {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--brandPink);
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 2.5rem;
  border: var(--brandPink) solid;
  background-color: var(--brandBlue);
}
.sidebar h3 {
  color: var(--brandAqua);
  padding: 1rem;
}
.sidebar li {
  padding: 1rem;
}
.logo {
  padding-top: 1rem;
}

.wave {
  transform: rotate(180deg);
  margin-top: -1px;
  z-index: 2;
}

/*Product Details */
.back-to-products {
  padding: 1rem;
}
.back-to-products a {
  color: var(--brandBlue);
}
.back-to-products a:hover {
  color: var(--brandAqua);
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 10rem;
  padding: 1rem;
}
.details-image {
  flex: 1 1 60rem;
  padding-left: 10rem;
}
.details-image img {
  max-width: 60rem;
}
.details-info {
  flex: 1 1 30rem;
}
.details-info ul,
.details-action ul {
  padding: 0;
}
.details-info li,
.details-action li {
  margin: 1rem;
}
.details-action {
  flex: 1 1 30rem;
  border: 0.1rem var(--brandAqua) solid;
  border-radius: 0.5rem;
  background-color: var(--brandLightWhite);
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.primary-button {
  background-color: var(--brandAqua);
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  color: var(--brandBlue);
  cursor: pointer;
}
.primary-button:hover {
  background-color: #86d4f3;
  border: none;
}
.secondary-button:hover {
  background-color: #ecd3e8;
  border: none;
}
.register,
.signin a,
a:link,
a:visited {
  color: var(--brandAqua);
  padding-right: 1rem;
}

.signin:hover,
.register:hover {
  text-decoration: underline;
}

/* Cart */
.cart {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  flex: 1 1 30rem;
  /* background-color: #f8f8f8; */
  padding: 1rem;
  margin-top: 2rem;
  border: 0.1rem var(--brandAqua) solid;
  border-radius: 0.5rem;
  background-color: var(--brandLightWhite);
}

.cart-list-container {
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.1rem solid white;

  padding: 1rem;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 1 8;
}
.cart-name a {
  color: var(--brandBlue);
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.select {
  margin-right: 1rem;
  margin-left: 0.5rem;
  border: none;
  padding: 0.6rem;
  border-radius: 0.3rem;
  color: var(--brandBlue);
}

/* Form */

.form {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 0.1rem var(--brandAqua) solid;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 32rem;
  background-color: var(--brandLightWhite);
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem var(--brandAqua) solid;
  border-radius: 0.5rem;
}

.secondary-button {
  background-color: var(--brandPink);
  font-size: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--brandBlue);
  cursor: pointer;
}
.register-question {
  padding-top: 3rem;
}
/* ProductPage */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: var(--brandLightWhite);
}

/* Checkout Steps */
.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 36rem;
  padding: 1rem;
  margin: 0 auto;
}
.checkout-steps > div {
  border-top: 0.3rem var(--brandLightGray) solid;
  color: var(--brandLightGray);
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem var(--brandBlue) solid;
  color: var(--brandBlue);
}

/* Place Order */
.placeorder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 10rem;
  border: 0.1rem var(--brandLightGray) solid;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--brandLightWhite);
  margin: 0 1rem 1rem 1rem;
}

.placeorder-info > div {
  border: 0.1rem var(--brandLightGray) solid;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--brandLightWhite);
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0rem;
}
.placeorder-action > ul {
  padding: 0rem;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  border-top: 0.1rem var(--brandLightGray) solid;
  padding-top: 0.5rem;
  color: var(--brandRed);
}
