:root {
  --brandBlue: #1b71b8;
  --brandGrey: #232528;
  --brandPink: #f2daee;
  --brandAqua: #a2dcf3;
  --brandRed: #ed4748;
}

html {
  font-size: 62.5%; /*1 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font: 1.6rem "Nunito Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  color: var(--brandBlue);
  background-color: var(--brand);
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 4rem;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: var(--brandBlue);
  color: var(--brandPink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-links a,
a:link,
a:visited {
  color: var(--brandPink);
}
.header-links a:hover {
  color: var(--brandAqua);
}
.main {
  grid-area: main;
  background-color: var(--brandPink);
}
.footer {
  grid-area: footer;
  background-color: var(--brandBlue);
  color: var(--brandPink);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 40rem;
  border-bottom: 0.1rem yellow solid;
  background-color: white;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product a {
  color: var(--brandBlue);
}
.product a:hover {
  color: var(--brandAqua);
}
.product-image {
  max-width: 34rem;
  max-height: 30rem;
}
.product-name {
  font-size: 2rem;
  color: var(--brandBlue);
}
.product-price {
  font-size: 2rem;
}
.product-description {
  font-size: 1.2rem;
}
.product-rating {
  margin-bottom: 1rem;
}
/* Sidebar */
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: var(--brandPink);
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  transition: all 0.5s;
  width: 30rem;
  background-color: var(--brandBlue);
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar button {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--brandPink);
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 2.5rem;
  border: var(--brandPink) solid;
  background-color: var(--brandBlue);
}
.sidebar h3 {
  color: var(--brandAqua);
  padding: 1rem;
}
.sidebar li {
  padding: 1rem;
}
.logo {
  padding-top: 1rem;
}

/*Product Details */
.back-to-products {
  padding: 1rem;
}
.back-to-products a {
  color: var(--brandBlue);
}
.back-to-products a:hover {
  color: var(--brandAqua);
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 10rem;
  padding: 1rem;
}
.details-image {
  flex: 1 1 60rem;
  padding-left: 10rem;
}
.details-image img {
  max-width: 60rem;
}
.details-info {
  flex: 1 1 30rem;
}
.details-info ul,
.details-action ul {
  padding: 0;
}
.details-info li,
.details-action li {
  margin: 1rem;
}
.details-action {
  flex: 1 1 30rem;
  border: 0.1rem var(--brandBlue) solid;
  border-radius: 0.5rem;
  background-color: #ffffff70;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.details-action button {
  background-color: var(--brandAqua);
  border: 0.1rem var(--brandBlue) solid;
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--brandBlue);
  cursor: pointer;
}
.details-action button:hover {
  background-color: #86d4f3;
  border: 0.1rem var(--brandBlue) solid;
}
.card {
  background-color: yellow;
}
